CWS_EXTENSION_ID=your_extension_id
CWS_PUBLISHER_ID=your_publisher_id
CWS_CLIENT_ID=your_oauth_client_id.apps.googleusercontent.com
CWS_CLIENT_SECRET=your_oauth_client_secret
CWS_REFRESH_TOKEN=your_oauth_refresh_token
